!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }/
    %title 聊天列表介面
    %meta{ :name => "description", :content => "" }/
    %meta{ :name => "author", :content => "" }/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
    / material icons
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons"}/
    %link{ :rel => "stylesheet", :href => "stylesheets/style.css"}/

  %body

    #new-message-notification
      %div
        %a.button{:href => "/"}
          %i.material-icons expand_more
          新訊息

    #chat-list.fixed
      .nav.three-col
        .left-col
          -# 可以過濾訊息類型
          %a.button{:href => "/"}
            %i.material-icons arrow_back
        .mid-col
          .chat-title
            %a{:href => "#"} 關於「聖經好讀版」（或顯示訂單編號）
        .right-col  
          %a.button{:href => "/"}
            %i.material-icons close

    #chat-content
      - 30.times do
        .me
          .message-text
            = zh_lorem_sentences(2)
            %a{:href => "#"} http://example.com
            .extra
              7/3 
              %br 已讀
          .message-text
            = zh_lorem_sentences(2)
            .extra
              7/3 
              %br 已讀 
          .message-text.photo
            %img{:src => "img/products/p#{1 + rand(21)}.jpg"}/
            .extra
              7/3 
              %br 已讀 
        .friend
          .message-text
            = zh_lorem_sentences(2)
            .extra
              7/3 
              %br 已讀  
          .message-text
            = zh_lorem_sentences(1)
            .extra
              7/3 
              %br 已讀 
          - #.message-photo
          .me
          .message-text
            [ 圖片傳送中 ]
            .extra
              7/3 
              %br 已讀

    .message-box.three-col
      %a.button{:href => "/"}
        %i.material-icons attach_file
      %textarea{:placeholder => "訊息"}
      %a.button{:href => "/"}
        %i.material-icons send


    -# end of #chat-list
    
    -# Live Reload
    = livereload_js if ENV["RACK_ENV"] != "production"

